In [1]:
#Making necesarry imports
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import correlation
from sklearn.metrics.pairwise import pairwise_distances
import ipywidgets as widgets
from IPython.display import display, clear_output
from contextlib import contextmanager
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import os, sys
import re
import seaborn as sns

In [2]:
goods = pd.read_csv('./qf_goods.csv', header=None)
goods.columns = ['id', 'is_delete', 'title', 'price', 'clicks', 'collections', 'praises', 'bads', 'state', 'tag_id', 'sales']
goods.set_index('id')
goods=goods.drop(['title'],axis=1)

In [3]:
# 删除 商品不在出售的
goods.drop(goods[goods.is_delete == True].index, inplace=True)
goods.drop(goods[goods.state != 1].index, inplace=True)
goods

,id,is_delete,price,clicks,collections,praises,bads,state,tag_id,sales
31,32,0,938,7327,2586,3429,919,1,1,5025
32,33,0,2399,5544,1790,2250,1224,1,1,3001
33,34,0,668,2751,619,1067,261,1,1,1991
34,35,0,4999,622,283,316,222,1,1,483
35,36,0,5699,112,33,61,7,1,1,71
...,...,...,...,...,...,...,...,...,...,...
223,224,0,3,6563,1849,3584,256,1,14,3996
224,225,0,5,3883,588,1262,852,1,14,2007
225,226,0,16,1629,218,409,110,1,14,994
226,227,0,12,1101,353,626,218,1,14,1043
227,228,0,21,1021,278,494,278,1,14,973

In [4]:
goods.eval('score = clicks + collections + praises - bads*3 + sales', inplace=True)
goods

,id,is_delete,price,clicks,collections,praises,bads,state,tag_id,sales,score
31,32,0,938,7327,2586,3429,919,1,1,5025,15610
32,33,0,2399,5544,1790,2250,1224,1,1,3001,8913
33,34,0,668,2751,619,1067,261,1,1,1991,5645
34,35,0,4999,622,283,316,222,1,1,483,1038
35,36,0,5699,112,33,61,7,1,1,71,256
...,...,...,...,...,...,...,...,...,...,...,...
223,224,0,3,6563,1849,3584,256,1,14,3996,15224
224,225,0,5,3883,588,1262,852,1,14,2007,5184
225,226,0,16,1629,218,409,110,1,14,994,2920
226,227,0,12,1101,353,626,218,1,14,1043,2469
227,228,0,21,1021,278,494,278,1,14,973,1932

In [5]:
goods['price_cut'] = pd.qcut(goods.price, q=10, labels=[i for i in range(10)])
goods['clicks_cut'] = pd.cut(goods.clicks, bins=[0, 100, 300, 500, 800, 1000, 2000, 4000, 6000, 10000, 100000], labels=[i for i in range(10)])
goods['collections_cut'] = pd.qcut(goods.collections, q=10, labels=[i for i in range(10)])
goods['praises_cut'] = pd.qcut(goods.praises, q=10, labels=[i for i in range(10)])
goods['bads_cut'] = pd.qcut(goods.bads, q=10, labels=[i for i in range(10)])
goods['sales_cut'] = pd.qcut(goods.sales, q=10, labels=[i for i in range(10)])
goods

,id,is_delete,price,clicks,collections,praises,bads,state,tag_id,sales,score,price_cut,clicks_cut,collections_cut,praises_cut,bads_cut,sales_cut
31,32,0,938,7327,2586,3429,919,1,1,5025,15610,7,8,8,8,7,7
32,33,0,2399,5544,1790,2250,1224,1,1,3001,8913,8,7,7,6,7,6
33,34,0,668,2751,619,1067,261,1,1,1991,5645,7,6,4,5,4,5
34,35,0,4999,622,283,316,222,1,1,483,1038,8,3,2,2,4,2
35,36,0,5699,112,33,61,7,1,1,71,256,9,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,224,0,3,6563,1849,3584,256,1,14,3996,15224,0,8,7,8,4,7
224,225,0,5,3883,588,1262,852,1,14,2007,5184,0,6,4,5,6,5
225,226,0,16,1629,218,409,110,1,14,994,2920,1,5,2,2,2,4
226,227,0,12,1101,353,626,218,1,14,1043,2469,0,5,3,3,4,4
227,228,0,21,1021,278,494,278,1,14,973,1932,1,5,2,3,4,3

In [21]:
d_goods = goods[['id', 'price_cut', 'clicks_cut', 'collections_cut', 'praises_cut', 'bads_cut', 'sales_cut', 'tag_id']]
d_goods

,id,price_cut,clicks_cut,collections_cut,praises_cut,bads_cut,sales_cut,tag_id
31,32,7,8,8,8,7,7,1
32,33,8,7,7,6,7,6,1
33,34,7,6,4,5,4,5,1
34,35,8,3,2,2,4,2,1
35,36,9,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...
223,224,0,8,7,8,4,7,14
224,225,0,6,4,5,6,5,14
225,226,1,5,2,2,2,4,14
226,227,0,5,3,3,4,4,14
227,228,1,5,2,3,4,3,14

In [26]:
# group by
goods1 = d_goods.groupby('tag_id')
goods1.sum()

          id
tag_id
1        542
2        945
3       1141
4       1337
5       1925
6       2121
7       2317
8       1533
9       1729
10      2513
11      2709
12      2905
13       749
14      3101

In [27]:
for name, group in d_goods.groupby('tag_id'):
    print(name)
    print(group)

1
    id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
31  32         7          8               8           8        7         7
32  33         8          7               7           6        7         6
33  34         7          6               4           5        4         5
34  35         8          3               2           2        4         2
35  36         9          1               0           0        0         0
36  37         9          1               0           1        0         1
37  38         9          3               1           1        2         1
38  39         9          1               1           1        1         1
39  40         9          1               0           0        1         0
40  41         8          2               1           1        1         1
41  42         9          5               2           2        1         2
43  44         9          5               3           3        3         4
44  45         8          0               0           0        1         0
45  46         9          3               1           1        3         1

    tag_id
31       1
32       1
33       1
34       1
35       1
36       1
37       1
38       1
39       1
40       1
41       1
43       1
44       1
45       1
2
    id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
60  61         9          6               5           5        6         5
61  62         9          8               8           7        6         8
62  63         7          4               2           3        2         2
63  64         5          9               9           9        6         9
64  65         3          7               6           6        6         6
65  66         7          5               3           3        2         3
66  67         9          7               7           6        8         7
67  68         2          5               4           3        1         3
68  69         8          3               1           2        3         2
69  70         8          5               3           3        5         4
70  71         7          2               1           1        1         1
71  72         6          2               2           1        1         1
72  73         5          5               2           3        3         2
73  74         5          5               3           2        4         2

    tag_id
60       2
61       2
62       2
63       2
64       2
65       2
66       2
67       2
68       2
69       2
70       2
71       2
72       2
73       2
3
    id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
74  75         6          3               2           2        3         2
75  76         6          0               0           0        0         0
76  77         7          7               6           5        7         6
77  78         4          6               6           6        7         5
78  79         5          6               4           5        2         5
79  80         5          7               7           7        8         7
80  81         6          6               5           4        7         5
81  82         6          3               2           2        1         1
82  83         8          6               4           4        2         5
83  84         7          5               3           3        4         3
84  85         7          7               6           5        3         5
85  86         6          5               4           4        2         4
86  87         6          5               3           3        5         3
87  88         6          2               1           1        2         1

    tag_id
74       3
75       3
76       3
77       3
78       3
79       3
80       3
81       3
82       3
83       3
84       3
85       3
86       3
87       3
4
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
88    89         6          9               9           9        8         9
89    90         3          8               9           9        7         9
90    91         5          5               3           3        5         3
91    92         3          8               8           7        7         8
92    93         8          7               5           5        4         5
93    94         5          4               3           3        4         2
94    95         7          8               6           7        8         7
95    96         7          1               0           0        1         0
96    97         4          7               5           5        3         6
97    98         5          5               4           4        3         4
98    99         9          8               5           6        8         6
99   100         6          7               5           6        7         6
100  101         7          7               6           6        7         6
101  102         6          5               4           4        3         4

     tag_id
88        4
89        4
90        4
91        4
92        4
93        4
94        4
95        4
96        4
97        4
98        4
99        4
100       4
101       4
5
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
130  131         2          9               8           9        5         8
131  132         4          8               8           8        9         9
132  133         1          9               8           7        9         9
133  134         3          6               6           5        6         5
134  135         2          8               8           8        8         9
135  136         2          8               6           6        8         7
136  137         2          9               9           9        9         9
137  138         1          8               8           9        3         8
138  139         2          6               3           4        6         5
139  140         2          6               4           5        5         4
140  141         3          7               5           6        8         7
141  142         1          6               6           5        7         5
142  143         2          5               3           2        0         3
143  144         1          1               1           0        0         0

     tag_id
130       5
131       5
132       5
133       5
134       5
135       5
136       5
137       5
138       5
139       5
140       5
141       5
142       5
143       5
6
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
144  145         5          5               4           4        0         4
145  146         5          3               2           2        4         2
146  147         7          5               3           3        4         4
147  148         8          6               4           5        6         5
148  149         7          0               0           0        0         0
149  150         7          5               4           4        3         3
150  151         9          2               1           1        2         1
151  152         8          5               4           3        1         3
152  153         9          5               2           2        2         3
153  154         9          5               3           4        5         3
154  155         9          1               0           0        1         0
155  156         8          5               5           5        6         4
156  157         7          3               2           1        0         1
157  158         9          6               5           4        5         4

     tag_id
144       6
145       6
146       6
147       6
148       6
149       6
150       6
151       6
152       6
153       6
154       6
155       6
156       6
157       6
7
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
158  159         4          0               0           0        0         0
159  160         1          0               0           0        0         0
160  161         2          8               7           7        6         8
161  162         2          9               8           8        9         9
162  163         6          9               9           9        9         9
163  164         2          8               9           9        8         8
164  165         3          8               7           8        9         8
165  166         3          8               9           8        7         7
166  167         4          9               8           8        9         9
167  168         4          9               6           7        0         8
168  169         3          8               6           7        8         7
169  170         5          6               5           5        3         4
170  171         5          7               9           7        4         7
171  172         3          7               7           7        0         7

     tag_id
158       7
159       7
160       7
161       7
162       7
163       7
164       7
165       7
166       7
167       7
168       7
169       7
170       7
171       7
8
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
102  103         2          0               0           0        0         0
103  104         2          6               7           6        6         6
104  105         4          8               7           9        9         8
105  106         2          8               9           8        8         7
106  107         1          7               9           8        5         8
107  108         3          5               5           4        5         4
108  109         1          7               6           8        8         6
109  110         1          9               9           9        9         9
110  111         3          5               4           3        5         3
111  112         4          9               8           8        8         8
112  113         1          2               5           3        4         2
113  114         1          3               5           4        5         3
114  115         3          4               3           3        4         2
115  116         3          4               4           2        2         2

     tag_id
102       8
103       8
104       8
105       8
106       8
107       8
108       8
109       8
110       8
111       8
112       8
113       8
114       8
115       8
9
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
116  117         8          8               7           7        8         8
117  118         7          0               0           0        0         0
118  119         8          5               3           2        4         3
119  120         9          6               6           5        6         6
120  121         7          5               1           2        3         2
121  122         7          4               2           3        4         2
122  123         9          7               7           6        7         7
123  124         7          1               1           1        2         1
124  125         8          1               0           0        1         0
125  126         8          2               1           1        2         1
126  127         8          3               1           1        3         2
127  128         8          3               1           1        1         1
128  129         8          3               3           2        3         2
129  130         7          1               0           0        1         0

     tag_id
116       9
117       9
118       9
119       9
120       9
121       9
122       9
123       9
124       9
125       9
126       9
127       9
128       9
129       9
10
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
172  173         2          4               2           2        2         2
173  174         2          1               1           1        1         1
174  175         4          8               6           6        8         7
175  176         4          9               8           9        9         9
176  177         5          2               1           1        1         1
177  178         2          7               7           7        6         7
178  179         3          7               6           7        7         6
179  180         7          4               2           2        5         3
180  181         4          6               5           5        5         4
181  182         5          5               3           4        5         4
182  183         5          8               8           8        9         8
183  184         6          8               7           8        3         7
184  185         2          5               3           3        3         3
185  186         6          5               2           3        3         4

     tag_id
172      10
173      10
174      10
175      10
176      10
177      10
178      10
179      10
180      10
181      10
182      10
183      10
184      10
185      10
11
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
186  187         8          0               0           0        0         0
187  188         5          2               1           1        1         1
188  189         6          9               9           9        5         8
189  190         6          6               5           7        7         6
190  191         3          6               5           5        6         5
191  192         3          6               6           6        4         5
192  193         3          9               9           9        7         9
193  194         5          5               3           4        5         4
194  195         4          7               7           6        6         6
195  196         5          5               3           4        3         3
196  197         4          9               9           9        9         9
197  198         4          7               7           7        6         6
198  199         4          9               7           8        9         9
199  200         6          8               9           8        6         7

     tag_id
186      11
187      11
188      11
189      11
190      11
191      11
192      11
193      11
194      11
195      11
196      11
197      11
198      11
199      11
12
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
200  201         0          5               2           2        2         3
201  202         0          6               7           7        6         6
202  203         0          8               8           8        8         8
203  204         0          8               8           8        8         7
204  205         0          6               5           4        5         4
205  206         0          5               4           4        5         3
206  207         4          8               9           9        9         9
207  208         1          8               6           6        9         7
208  209         0          1               2           1        1         1
209  210         1          6               4           4        2         5
210  211         0          6               5           5        4         5
211  212         2          9               9           9        8         9
212  213         0          7               8           7        7         6
213  214         4          9               9           9        9         9

     tag_id
200      12
201      12
202      12
203      12
204      12
205      12
206      12
207      12
208      12
209      12
210      12
211      12
212      12
213      12
13
    id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
46  47         0          0               0           0        0         0
47  48         0          0               0           0        0         0
48  49         1          8               8           9        9         8
49  50         1          6               5           5        3         6
50  51         6          9               9           9        9         9
51  52         5          6               5           6        7         5
52  53         5          5               4           4        2         3
53  54         6          6               6           6        7         6
54  55         4          7               7           7        7         6
55  56         4          8               9           9        8         9
56  57         1          9               8           8        7         8
57  58         3          8               8           7        9         8
58  59         1          7               7           6        5         5
59  60         2          3               1           2        2         2

    tag_id
46      13
47      13
48      13
49      13
50      13
51      13
52      13
53      13
54      13
55      13
56      13
57      13
58      13
59      13
14
      id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut  \
214  215         0          8               6           6        5         7
215  216         0          0               0           0        0         0
216  217         1          6               4           5        6         5
217  218         0          0               0           0        0         0
218  219         2          3               2           2        3         2
219  220         1          0               0           0        0         0
220  221         0          2               1           1        1         1
221  222         0          2               1           1        2         1
222  223         0          8               7           7        9         8
223  224         0          8               7           8        4         7
224  225         0          6               4           5        6         5
225  226         1          5               2           2        2         4
226  227         0          5               3           3        4         4
227  228         1          5               2           3        4         3

     tag_id
214      14
215      14
216      14
217      14
218      14
219      14
220      14
221      14
222      14
223      14
224      14
225      14
226      14
227      14

In [7]:
#setting global variables
global metric,k
k=10
metric='cosine'

In [23]:
cosine_sim = 1-pairwise_distances(d_goods, metric="cosine")

In [9]:
pd.DataFrame(cosine_sim)

,0,1,2,3,4,5,6,7,8,9,...,186,187,188,189,190,191,192,193,194,195
0,1.000000,0.996715,0.982983,0.947654,0.892388,0.902450,0.924604,0.911499,0.896623,0.914767,...,0.879441,0.867619,0.872333,0.873136,0.899825,0.896168,0.889271,0.880803,0.883306,0.882380
1,0.996715,1.000000,0.991630,0.968265,0.921457,0.929232,0.949075,0.937463,0.925265,0.939489,...,0.902431,0.891889,0.895729,0.896532,0.919318,0.915588,0.910314,0.903221,0.905243,0.904687
2,0.982983,0.991630,1.000000,0.987543,0.957622,0.964314,0.976996,0.969068,0.960338,0.971831,...,0.943462,0.935623,0.938413,0.938863,0.954869,0.952959,0.948861,0.944355,0.945333,0.945149
3,0.947654,0.968265,0.987543,1.000000,0.987609,0.989879,0.996877,0.993318,0.990044,0.993688,...,0.966963,0.962150,0.963071,0.963528,0.970976,0.969125,0.968386,0.966362,0.966628,0.967191
4,0.892388,0.921457,0.957622,0.987609,1.000000,0.999291,0.996416,0.998588,0.999420,0.997278,...,0.972029,0.970882,0.969955,0.969925,0.967774,0.968420,0.969189,0.970946,0.969678,0.970847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,0.896168,0.915588,0.952959,0.969125,0.968420,0.971019,0.971816,0.974314,0.973990,0.981363,...,0.998870,0.997587,0.998362,0.998409,0.999728,1.000000,0.999699,0.999158,0.999401,0.999229
192,0.889271,0.910314,0.948861,0.968386,0.969189,0.971207,0.971674,0.974430,0.975002,0.981309,...,0.999583,0.998630,0.999201,0.999288,0.999639,0.999699,1.000000,0.999683,0.999887,0.999815
193,0.880803,0.903221,0.944355,0.966362,0.970946,0.972472,0.971560,0.975008,0.976240,0.981689,...,0.999905,0.999482,0.999790,0.999798,0.998734,0.999158,0.999683,1.000000,0.999933,0.999943
194,0.883306,0.905243,0.945333,0.966628,0.969678,0.971344,0.971012,0.974253,0.975287,0.981060,...,0.999863,0.999263,0.999669,0.999717,0.999155,0.999401,0.999887,0.999933,1.000000,0.999971
195,0.882380,0.904687,0.945149,0.967191,0.970847,0.972367,0.971886,0.975119,0.976353,0.981787,...,0.999931,0.999395,0.999739,0.999787,0.998960,0.999229,0.999815,0.999943,0.999971,1.000000

In [10]:
def findksimilarusers(good_id, ratings, metric = metric, k=k):
    similarities=[]
    indices=[]
    model_knn = NearestNeighbors(metric = metric, algorithm = 'brute') 
    model_knn.fit(ratings)

    distances, indices = model_knn.kneighbors(ratings.iloc[good_id-1, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
    print('{0} most similar Goods for Good {1}:\n'.format(k,good_id))
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i]+1 == good_id:
            continue;

        else:
            print('{0}: Goods {1}, with similarity of {2}'.format(i, indices.flatten()[i]+1, similarities.flatten()[i]))
            
    return similarities,indices

In [13]:
similarities,indices = findksimilarusers(1, d_goods, metric='cosine')

10 most similar Goods for Good 1:

1: Goods 2, with similarity of 0.996714720086019
2: Goods 19, with similarity of 0.9900633746873801
3: Goods 3, with similarity of 0.9829831677530928
4: Goods 24, with similarity of 0.979778251265663
5: Goods 17, with similarity of 0.9772202101019271
6: Goods 30, with similarity of 0.9731808100538806
7: Goods 32, with similarity of 0.9727451260787189
8: Goods 26, with similarity of 0.9714072586331428
9: Goods 23, with similarity of 0.969163193004973
10: Goods 22, with similarity of 0.9684029955015089

In [16]:
indices+1

array([[ 1,  2, 19,  3, 24, 17, 30, 32, 26, 23, 22]], dtype=int64)

In [19]:
for i in (indices+1):
    print(d_goods.iloc[i])

    id price_cut clicks_cut collections_cut praises_cut bads_cut sales_cut
32  33         8          7               7           6        7         6
33  34         7          6               4           5        4         5
51  52         5          6               5           6        7         5
34  35         8          3               2           2        4         2
56  57         1          9               8           8        7         8
49  50         1          6               5           5        3         6
62  63         7          4               2           3        2         2
64  65         3          7               6           6        6         6
58  59         1          7               7           6        5         5
55  56         4          8               9           9        8         9
54  55         4          7               7           7        7         6